# conf file must be in same directory as script

[json]
app_name = enSilo Event Logs
version = 1.0

[ensilo]
server_url = https://site.console.ensilo.com
state_dir = /usr/local/bin/ensiloEventLogs/state
time_offset = 5
pid_file = ./ensiloEventLogs.pid
# Auth Method can be set to basic or token.  If "basic", the username and password are used to generate
# a token each time the script runs.  If set to "token" the token is used to authenticate.
auth_method = basic
username =
password =
token = 

